---
import Page from "../layouts/Page.astro";
import Navbar from "../components/Navbar.astro";
import PageHeader from "../components/PageHeader.astro";
import BlogPostList from "../components/BlogPostList.astro";
---

<Page
    desc="Theodore Kakagis' Blog"
    img="images/profile.jpg"
    kw="programming,gaming,blog"
    title="Theodore Kakagis"
    url=""
>
    <Navbar />
    <PageHeader />
    <main class="max-w-[550px] ml-auto mr-auto">
        <BlogPostList />
    </main>
</Page>
