---
---

<nav class="h-12">
	<ul
		class="flex items-center justify-center flex-row h-full mx-6 md:justify-start"
	>
		<li>
			<a class="text-lg hover:underline mr-2 font-semibold" href="/">
				Home
			</a>
		</li>
		<li>
			<a class="text-lg hover:underline mr-2 font-semibold" href="/blog">
				Blog
			</a>
		</li>
		<li>
			<a class="text-lg hover:underline mr-2 font-semibold" href="/tags">
				Tags
			</a>
		</li>
		<li>
			<a
				class="text-lg hover:underline mr-2 font-semibold"
				href="/projects"
			>
				Projects
			</a>
		</li>
		<li>
			<a
				class="text-lg hover:underline mr-2 font-semibold"
				href="/contact"
			>
				Contact
			</a>
		</li>
	</ul>
</nav>
