---
---

<ul class="flex items-center justify-center flex-row">
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://youtube.com/@theodorekakagis">
			<i class="bi bi-youtube"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://twitter.com/kakagis">
			<i class="bi bi-twitter"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://instagram.com/th.kakagis">
			<i class="bi bi-instagram"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://github.com/CooldudeNo13026">
			<i class="bi bi-github"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://twitch.com/theodorekakagislive">
			<i class="bi bi-twitch"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://reddit.com/u/MinecraftFan524">
			<i class="bi bi-reddit"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="https://steamcommunity.com/profiles/76561199305622225/">
			<i class="bi bi-steam"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="http://live.xbox.com/profile?gamertag=CooldudeNo13026">
			<i class="bi bi-xbox"></i>
		</a>
	</li>
	<li class="w-8 h-8 m-0.5 rounded-full flex items-center justify-center bg-zinc-800 hover:bg-zinc-700 focus:bg-zinc-700">
		<a href="/rss.xml">
			<i class="bi bi-rss"></i>
		</a>
	</li>
</ul>
