---
import NavLinks from "./NavLinks.astro";
---

<header class="flex items-center justify-center flex-col mt-4 mb-4">
	<img src="/images/profile.jpg" alt="Theodore Kakagis" class="rounded-md w-36 h-36" />
	<h1 class="text-4xl my-2 font-bold">Theodore Kakagis</h1>
	<NavLinks />
</header>
